@model LearningSystem.Models.ViewModels.Users.ProfileVM

@{ 
    ViewBag.Title = "Profile Page";
}

<h2>My Profile</h2>
<br />
@Html.ActionLink("Edit", "Edit")

<h3>Name: @Html.DisplayFor(vm => vm.Name)</h3>
<h3>Email: @Html.DisplayFor(vm => vm.Email)</h3>
<h3>BirthDate: @Html.DisplayFor(vm => vm.BirthDate)</h3>
<h3>UserName: @Html.DisplayFor(vm => vm.Username)</h3>


<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Grade</th>
    </tr>

    @foreach (var course in Model.EnrolledCourses)
    {
        <tr>
            <td>@Html.DisplayFor(vm => course.Name)</td>
            <td>@Html.DisplayFor(vm => course.Grade)</td>
    </tr>


    }
</table>

@Html.ActionLink("All Courses", "Index", "Home")

